/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 1, 2025, 2:11:47 PM
    Author     : tung
*/
.cart-icon-wrapper {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    bottom: -10px; /* để hiện phía dưới icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 10px;
}

.cart-count-badge {
    background: #f44336;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    position: relative;
    top: -10px;
    right: 10px;
}

