/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 1, 2025, 12:15:16 PM
    Author     : tung
*/

.btn-reset {
    all: unset; /* Xóa toàn bộ style mặc định */
    cursor: pointer;
    display: inline-block;
}